.todo-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	border-bottom: 1px solid #ddd;
}

.todo-item label {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.todo-item .left {
	width: calc(100% - 76px);
	margin-right: 76px;
}

.todo-item input[id^='todo-check-'] {
	margin: 0 12px;
}

.todo-item .delete-btn {
	position: absolute;
	right: 0;
	display: none;
	width: 64px;
	height: 32px;
	margin: 0 12px;
	border: none;
	border-radius: 5px;
	background-color: orangered;
	color: #424242;
	text-align: center;
	font-size: 14px;
}